th,tr,td {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
  }

  .button-padding {
    margin: 0 6px 0 6px;
}
.centered {
    display: flex;
    justify-content: center;
}

table tr td img{
  height:200px;
  width:200px;
  padding: 20px;
}