<!-- this is for div image  -->

<main>
  <div class="intro">
    <marquee direction="left" behavior="alternate"><b> Welcome to Online Food Order😀</b> </marquee>
    <p>Are You Hungryy??😲</p>
    <a (click)="gotoLogin()"><strong>ORDER NOW⌚</strong><i class="bi bi-arrow-right"></i></a>
  </div>
</main>
<!-- This is for category of the books -->
<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="menu-section-heading">FOODS CATEGORY</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/371886-food-pizza.jpg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Pizza</h2>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/Biryani.jpg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Biryani</h2>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/burger.jpeg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Burger</h2>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/full meals.jpg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Full Meals</h2>

        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/sandwich.jpeg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Sandwich</h2>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/chickentikka.jpeg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Chicken Tikka</h2>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/rolls.jpeg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Rolles</h2>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/soup.jpeg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Soup</h2>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/Curry.jpeg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Curry</h2>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/beverages.jpeg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Beverages</h2>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/manchurian.jpeg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">Manchurian </h2>
        </div>

      </div>
      <!-- <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/Images/financeimage.jpg" class="menu-item-image w-100" />
          <h2 class="menu-card-title">FINANCE</h2>
        </div>
      </div>
    -->
    
     
      